@use "../abstracts/" as *;
.spinner {
	margin: rems(20) rems(0);
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: rems(10);
	}
	&__box {
		// position: relative;
		// z-index: 1;
		// width: rems(50);
		// height: rems(50);
	}
	&__img {
	}
	&__img img {
	}
	&__text {
		@include AV("font-size", 20, 15);
	}
}
